<span
  class="text-transparent bg-clip-text bg-gradient-to-br from-[#29628d] from-20% via-[#29628d] via-30% to-[#29628d]
         dark:from-[#ffffff] dark:via-[#ffffff] dark:to-[#ffffff]"
>
  <slot />
</span>
