---
import { Image } from "astro:assets";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

import myImage from "../../assets/images/dev-with-c-1.webp";
import GradiantText from "../shared/GradiantText.astro";

type FeatureProps = {
  title: string;
  description: string;
};
const features = [
  {
    title: "Ahorro en inversión",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
  },
  {
    title: "Visita previa",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
  },
  {
    title: "Configuración personalizada",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
  },
  {
    title: "Soporte constante",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
  },
  {
    title: "Beneficio fiscal",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
  },
  {
    title: "Respaldo",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
  },
  {
    title: "Mejores opciones",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
  },
  {
    title: "Mantenimiento previo",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
  },
  {
    title: "Soporte telefónico",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
  },
];

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="features" class=`${className}`>
  <Container className="lg:px-52 md:px-20 sm:pl-10 sm:pr-10">
    <div class="text-center max-w-3xl mx-auto">
      <Title>
        <GradiantText><br />Beneficios de Renta</GradiantText>
      </Title>
    </div>
    <div class="flex flex-row flex-wrap mt-8 py-4">
      <!-- <div class="flex flex-col lg:gap-10 lg:gap-12 midmd:flex-row mt-8"> -->
      <!-- <div class="flex  lg:w-1/2 flex-row"> -->
      {
        features.map((feature: FeatureProps) => {
          return (
            <div class="flex items-center text-heading-3 font-medium basis-full basis-1/2 md:basis-1/2 lg:basis-1/3">
              <span class="font-bold rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">
                &checkmark;
              </span>
              <span class="text-xl md:text-xl lg:text-xl">{feature.title}</span>
            </div>
          );
        })
      }
      <!-- </div> -->
    </div>
  </Container>
</section>
