---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import GradiantText from "../shared/GradiantText.astro";
import CtaButton from "../shared/CtaButton.astro";
import Button from "../shared/Button.astro";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="servicios" class={`flex items-center justify-center ${className}`}>
  <Container className="">
    <div class="text-center max-w-3xl mx-auto py-16">
      <Title> OTROS <GradiantText>SERVICIOS</GradiantText></Title>
    </div>

    <section
      class="we-offer-area text-center"
      style="display:flex; justify-content: center;"
    >
      <div class="container">
        <div
          class="row our-offer-items less-carousel flex flex-col lg:flex-row gap-6 px-0 lg:gap-4 lg:px-24 sm:px-2"
        >
          <div class="col-md-4 col-sm-6 equal-height">
            <img
              src="/assets/images/TARJETA-SERVICIO-VENTA.webp"
              alt="venta"
              class="rounded-top rounded w-full"
            />
            <div class="item rounded-bottom">
              <p>
                Somos expertos en Terminales Portátiles, HandHelds, Impresoras y
                Lectores de Códigos de Barras para cubrir tus necesidades a
                largo plazo. Adquiere con nosotros la tecnología que tu negocio
                requiere.
              </p>
              <div class="mt-8">
                <a href="https://intelisystems.net/asesoria_informatica.html">
                  <Button
                    variant={"primary"}
                    className={"min-w-max text-white"}
                  >
                    <span class="flex relative z-[5] text-center"
                      >Más Información</span
                    >
                  </Button></a
                >
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 equal-height">
            <img
              src="/assets/images/TARJETA-SERVICIO-REPARACION.webp"
              alt="venta"
              class="rounded-top w-full"
            />
            <div class="item rounded-bottom">
              <p>
                Contamos con gran experiencia en la reparación y soporte de
                Terminales Portátiles, HandHelds, Impresoras y Lectores de
                Códigos de Barras. Te ofrecemos un servicio rápido, eficiente y
                garantizado.
              </p>
              <div class="mt-8">
                <a
                  href="https://handheldrepair.com.mx/reparaci%C3%B3n-de-terminales-portatiles.html"
                >
                  <Button
                    variant={"primary"}
                    className={"min-w-max text-white"}
                  >
                    <span class="flex relative z-[5] text-center"
                      >Más Información</span
                    >
                  </Button></a
                >
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 equal-height">
            <img
              src="/assets/images/TARJETA-SERVICIO-SOFTWARE.webp"
              alt="venta"
              class="rounded-top w-full"
            />
            <div class="item rounded-bottom">
              <p>
                Mejora la eficiencia de tu almacén, reduce errores y obtén una
                visibilidad completa de tus operaciones. Agiliza la forma en que
                gestionas tu almacén mediante la implementación de nuestro
                software.
              </p>
              <div class="mt-8">
                <a
                  href="https://intelisystems.net/software_para_handheld.html"
                  class="mx-auto"
                >
                  <Button
                    variant={"primary"}
                    className={"min-w-max text-white"}
                  >
                    <span class="flex relative z-[5] text-center"
                      >Más Información</span
                    >
                  </Button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </Container>
</section>

<style>
  .rounded-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .rounded-bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .rounded {
    background: transparent; /* Cambia el fondo a transparente */
    border-left: 2px solid #29628d;
    -moz-box-shadow: 0 0 10px #cccccc;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -o-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    outline: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .carousel-shadow .owl-stage-outer {
    margin: -15px -15px 0;
    padding: 15px;
  }

  .we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid;
    height: 15px;
    margin: 0 0px;
    width: 15px;
  }

  .we-offer-area .our-offer-carousel .owl-dots .owl-dot.active span {
    background: #29628d none repeat scroll 0 0;
    border-color: #29628d;
  }

  .we-offer-area .item {
    background: transparent; /* Cambia el fondo a transparente */
    border-left: 2px solid #29628d;
    -moz-box-shadow: 0 0 10px #cccccc;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -o-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
    overflow: hidden;
    padding: 30px;
    position: relative;
    z-index: 1;
  }

  .we-offer-area.text-center .item {
    background: transparent; /* Cambia el fondo a transparente */
    border: medium none;
    padding: 67px 40px 64px;
  }

  .we-offer-area.text-center .item i {
    background: #29628d none repeat scroll 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    font-size: 90px;
    height: 80px;
    line-height: 80px;
    position: relative;
    text-align: center;
    width: 80px;
    z-index: 1;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    margin-bottom: 25px;
  }

  .we-offer-area.text-center .item i::after {
    border: 2px solid #29628d;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 90px;
    left: -5px;
    position: absolute;
    top: -5px;
    width: 90px;
    z-index: -1;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
  }

  .we-offer-area.item-border-less .item {
    border: medium none;
  }

  .we-offer-area .our-offer-items.less-carousel .equal-height {
    margin-bottom: 30px;
  }

  .we-offer-area.item-border-less .item .number {
    font-size: 50px;
    font-weight: 900;
    opacity: 0.1;
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
  .we-offer-area.center-active .single-item:nth-child(2n) .item {
    background: #29628d none repeat scroll 0 0;
  }

  .our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
  .our-offer-carousel.center-active .owl-item:nth-child(2n) .item h2,
  .our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
  .we-offer-area.center-active .single-item:nth-child(2n) .item p {
    color: #ffffff;
  }

  .we-offer-area .item img {
    display: inline-block;
    margin-bottom: 32px;
  }

  .we-offer-area .item i {
    color: #29628d;
    display: inline-block;
    margin-bottom: 20px;
  }

  .we-offer-area .item h2 {
    text-transform: capitalize;
    font-size: 2rem;
    padding: 20px 20px 10px 20px; /* Agrega padding para centrar el texto */
  }

  .we-offer-area .item p {
    font-size: 1rem; /* Aumenta el tamaño de la fuente */
  }

  .we-offer-area .item i,
  .we-offer-area .item h2,
  .we-offer-area .item p {
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
  }

  .we-offer-area .item::after {
    background: #29628d none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    width: 100%;
    z-index: -1;
  }

  .we-offer-area.text-left .item i {
    background: #29628d none repeat scroll 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-size: 60px;
    height: 100px;
    line-height: 100px;
    margin-bottom: 30px;
    position: relative;
    width: 100px;
    z-index: 1;
    text-align: center;
  }

  .we-offer-area.text-left .item i::after {
    border: 2px solid #29628d;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 120px;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 120px;
  }

  @media (max-width: 1023px) {
    .we-offer-area .our-offer-items.less-carousel {
      flex-direction: column;
    }

    .we-offer-area .our-offer-items.less-carousel .equal-height {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      align-items: stretch; /* Estira los items hijos para que tengan la misma altura */
    }

    .we-offer-area .our-offer-items.less-carousel .equal-height img {
      width: 50%;
      object-fit: cover; /* Cubre todo el espacio manteniendo la proporción */
      border-top-right-radius: 0px; /* Mantiene el borde redondeado */
      border-bottom-left-radius: 20px;
    }

    .we-offer-area .our-offer-items.less-carousel .equal-height .item {
      width: 50%;
      padding: 20px; /* Aumenta un poco el padding */
      border-left: 2px solid #29628d; /* Vuelve a poner el borde izquierdo */
      box-shadow: 0 0 10px #cccccc; /* Vuelve a poner la sombra */
      display: flex;
      flex-direction: column;
      justify-content: center; /* Centra verticalmente el contenido */
      align-items: flex-start; /* Alinea el texto a la izquierda */
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0px;
    }

    .we-offer-area.text-center .item h2 {
      font-size: 1.5rem;
      padding: 10px 0;
      text-align: left; /* Alinea el título a la izquierda */
    }

    .we-offer-area .item p {
      font-size: 1rem;
      text-align: left; /* Alinea el párrafo a la izquierda */
      margin-bottom: 10px; /* Espacio entre el texto y el botón */
    }

    .we-offer-area .item .mt-10 {
      margin-top: 0; /* Elimina el margen superior predeterminado */
    }
  }
</style>
