---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Carrusel from "../components/sections/react/marcas";
import Services from "../components/sections/Services.astro";
import FAQ from "../components/sections/FAQ.astro";
import Features from "../components/sections/Features.astro";
import CTA from "../components/sections/CTA.astro";
import Products from "@src/components/sections/Products.astro";
import Container from "@src/components/shared/Container.astro";
import PricingSection from "@src/components/sections/PricingSection.astro";
import pricing from "@src/data/pricing.json";
import Otros from "@src/components/sections/Otros.astro";
import DispInicio from "@src/components/sections/DispInicio.astro";
import Hero2 from "@src/components/sections/Hero2.astro";
---

<Layout
  title="HandHeld Repair | Renta de HandHeld | Renta de Impresoras Industriales | Renta de Impresoras Industriales  | Renta de Terminales Portátiles | Renta de Lectores de Códigos de Barras | INTELISYSTEMS"
>
  <main class="flex flex-col overflow-hidden">
    <Hero
      preTitle="RENTA CON "
      title="INTELISYSTEMS"
      paragraph="Optimice la gestión de su almacén con nuestra renta de dispositivos HandHeld. Ofrecemos equipos de última generación que facilitan la toma de inventario, mejorando la precisión y eficiencia en sus operaciones."
      className="pt-10 md:pt-32 pb-2"
    />
    <DispInicio />
    <Features className="py-4 md:py-8  animate-fade-in" />
    <PricingSection pricing={pricing} />
    <Services className="py-12 md:py-16 animate-fade-in" />
    <Otros className="py-6 md:py-8 animate-fade-in" />
    <Carrusel client:load />
    <FAQ className="py-6 md:py-8 animate-fade-in" />
    <CTA className="py-10 md:py-16 animate-fade-in" />
  </main>
</Layout>
