---
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/assets/images/iconshandheld/favicon.ico"
    />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <meta
      name="description"
      content="Especialistas en renta de HandHeld, reparación y venta. Soluciones flexibles de cómputo móvil, terminales portátiles e impresoras para optimizar tus operaciones. ¡Cotiza ahora con Intelisystems!"
    />
    <title>
      {title}
    </title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <meta
      name="keywords"
      content="Handheld, hand held, PDA, terminal portátil, venta de terminales portatiles, repair, app, escaner, escaners, scaner, scanner, lector, lectores, laser, renta de lector, renta de escaner, renta de lectores, renta de escaners, renta de scanner, renta de scaner, 

      dispositivo móvil, impresora portatil, Jalisco, Guadalajara, Monterrey, Nuevo León, Queretaro, León, CDMX, 

      compra, renta, reparación, mantenimiento, impresoras, impresoras de etiquetas, lector de códigos de barras, 

      accesorios y consumibles, honeywell, intermec, symbol, motorola, zebra, wms, handheld products, psion, 

      pólizas de reparación, pólizas de servicio, equipo para venta en ruta, impresoras móviles, inventario, 

      diagnostico gratis, cotización gratis, arrendamiento, soluciones móviles, almacen, lógistica, HandHeld solutions, handheld solutions, hand held solutions, soluciones hand held, soluciones handheld, solucion handheld, solucion hand held, hand held repair, handheld reapir, HandHeld Repair, handheld, repair, reparacion de handheld, raparacion de handheld, reparacion handheld,
      
      handheld repair, handheld repairs, handheld repairs, intelisystems, handheld intelisystems, impresoras handheld, software handheld, rentar handheld, renta de handheld, rentando handheld, renta hand held, renta de hand held, rentando hand held,

      impresoras de credenciales, handheld repair, código qr, control de inventarios, ERP, reparacion, venta, Android,Snapdragon,soluciones, eficiente, seguro, inventario,Estrategia, Especializada, renta de handheld, renta handheld, renta de hand held, renta de terminales para inventarios, computadora handheld, equipos hand held, hand held almacen, handheld caracteristicas"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style/custom.css" />
  </head>
  <body class="bg-body">
    <Navbar />
    <script
      type="text/javascript"
      src="https://api.clientify.net/web-marketing/chatbots/script/205399.js"
    ></script>
    <slot />
    <Footer />

    <script defer>
      function detectSystemTheme(manual = false) {
        if (
          localStorage.getItem("theme") === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
          if (manual) localStorage.setItem("theme", "dark");
        } else {
          document.documentElement.classList.remove("dark");
          if (manual) localStorage.setItem("theme", "light");
        }
      }

      function changeThemeToDark() {
        localStorage.setItem("theme", "dark");
        document.documentElement.classList.add("dark");
      }

      function changeThemeToLight() {
        localStorage.setItem("theme", "light");
        document.documentElement.classList.remove("dark");
      }

      function changeThemeManually() {
        const localAppTheme = localStorage.getItem("theme");
        if (localAppTheme === "light") {
          changeThemeToDark();
        } else if (localAppTheme === "dark") {
          changeThemeToLight();
        } else {
          detectSystemTheme(true);
        }
      }

      detectSystemTheme();

      const switchTheme = document.querySelector("[data-switch-theme]");

      if (switchTheme) {
        switchTheme.addEventListener("click", (e) => {
          e.preventDefault();
          changeThemeManually();
        });
      }

      const toggleMenu = document.querySelector("[data-toggle-nav]");
      const navbar = document.querySelector("[data-navbar]");
      const overlayNav = document.querySelector("[data-nav-overlay]");
      if (toggleMenu) {
        toggleMenu.addEventListener("click", (e) => {
          e.preventDefault();
          if (toggleMenu.getAttribute("data-open-nav") === "false") {
            toggleMenu.setAttribute("data-open-nav", "true");
            overlayNav.setAttribute("data-is-visible", "true");
            document.body.classList.add("!overflow-y-hidden");
            navbar.style.height = `${navbar.scrollHeight}px`;
          } else {
            toggleMenu.setAttribute("data-open-nav", "false");
            overlayNav.setAttribute("data-is-visible", "false");
            document.body.classList.remove("!overflow-y-hidden");
            navbar.style.height = "0px";
          }
        });

        navbar.addEventListener("click", () => {
          toggleMenu.setAttribute("data-open-nav", "false");
          overlayNav.setAttribute("data-is-visible", "false");
          document.body.classList.remove("!overflow-y-hidden");
          navbar.style.height = "0px";
        });

        overlayNav.addEventListener("click", () => {
          toggleMenu.setAttribute("data-open-nav", "false");
          overlayNav.setAttribute("data-is-visible", "false");
          document.body.classList.remove("!overflow-y-hidden");
          navbar.style.height = "0px";
        });
      }
    </script>
  </body>
</html>
